framework: netstandard2.0
source https://api.nuget.org/v3/index.json

nuget JetBrains.Annotations copy_local:true
nuget Microsoft.CodeAnalysis.FxCopAnalyzers
nuget StyleCop.Analyzers

#ASP
nuget Microsoft.AspNetCore.Blazor.Browser copy_local:true
nuget Microsoft.AspNetCore.Blazor.Build copy_local:true