.logo {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
}

.logo.logo-lg {
    background-image: url(./logo-lg.svg);
    min-width: 120px;
}

.logo.logo-sm {
    background-image: url(./logo-sm.svg);
    min-width: 80px;
}